{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Minhas Receitas</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-light" scope="col">Nome</th>
                <th class="text-light" scope="col">Custo</th>
                <th class="text-light" scope="col">Valor de Venda</th>
                <th class="text-light" scope="col">Margem de Lucro</th>
                <th class="text-light" scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for receita in receitas %}
            <tr>
                <td class="text-light">{{ receita.nome|capfirst }}</td>
                <td class="text-light">R$ {{ receita.custo }}</td>
                <td class="text-light">R$ {{ receita.valor_venda }}</td>
                <td class="text-light">{{ receita.margem_lucro }}%</td>
                <td>
                    <a href="{% url 'receita-detail' pk=receita.pk %}">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a href="{% url 'receita-update' pk=receita.pk %}">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#confirm-delete-{{ receita.pk }}">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            <div class="modal fade" id="confirm-delete-{{ receita.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-dark" id="exampleModalLabel">Confirmar Exclusão</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-dark">
                            Tem certeza de que deseja excluir a receita "{{ receita.nome }}"?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <form method="POST" action="{% url 'receita-delete' pk=receita.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Excluir</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <tr>
                <td class="text-light" colspan="5">Nenhuma receita encontrada.</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="5">
                    <a href="{% url 'receita-create' %}" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Adicionar Receita
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row justify-content-center mt-4">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
